body {
    margin: auto;
}

h1, h2, h3, h4 {
    text-align: center;
    padding: 10px
}

#preview-banner {
    margin: 10px;
}

#preview-banner select{
    max-width: 120px;
    margin-left: 5px;
}

.name {
    padding-right: 20px;
}

.commit-screenshot {
    text-align: center;
    display: inline-block;
}

.commit-screenshot img {
    vertical-align: top;
}

.commit-screenshot a {
    display: table-row;
}
