{:duct.core/project-ns  preview
 :duct.core/environment :production

 :duct.module/logging {}
 :duct.module.web/site {}
 :duct.module/cljs {:main preview.client}

 :duct.router/cascading
 [#ig/ref :preview.handler/example]

 :preview.handler/example
 {}}
