{:duct.core/project-ns  preview
 :duct.core/environment :production

 :duct.module/logging {}
 :duct.module.web/site {}
 :duct.module/cljs {:main preview.client}

 :duct.router/cascading
 [#ig/ref :preview.handler/views
  #ig/ref :preview.handler/api]

 :preview.handler/views
 {}

 :preview.handler/api
 {}}
